body {
  font-family: 'Roboto', sans-serif;
}

header {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(project0/images/notes.jpeg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  background-attachment: fixed;
}
